body {
    background-color: #fff;
    padding: 50px;
    font-family: "Noto Sans JP",serif;
    color: #333;
    font-weight: 600;
}

h1,h2 {
    line-height: 1.1;
    color: #222;
    /* padding: 5px; */
}

h1 {
    margin: 0 0 40px;
    font-size: 40px;
    font-weight: 800;
}

h2 {
    margin: 0 0 30px;
    color: #393939;
    font-weight: 600;
    font-size: 30px;
    margin-top:30px;
}

img {
    padding-bottom: 30px;
    width: 275px;
    height: 275px;
    max-width: 100%;
}

header p {
    margin: 0 0 20px;
    font-size: 20px;
}

p,ol,pre,ul {
    margin: 0 0 10px;
    font-size: 18px;
    /* margin-bottom: 10px; */
}

li{
    margin-top: 5px;
    margin-bottom: 10px;
}

a {
    color: #002373;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    width: 240px;
    float: left;
    position: fixed;
}

strong {
    color: #222;
    font-weight: 500;
}

header ul li + li + li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    width: 700px;
    float: right;
    padding-bottom: 50px;
    padding-right: 50px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
}

@media print,screen and (max-width: 960px) {
    div.wrapper {
        width:auto;
        margin: 0
    }

    header,section,footer {
        float: none;
        position: static;
        width: auto
    }

    section {
        max-width: 700px
    }

    header {
        padding-right: 320px
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }
}

@media print,screen and (max-width: 720px) {
    body {
        word-wrap:break-word
    }

    header {
        padding: 0
    }

    header ul,header p {
        position: static
    }

    pre,code {
        word-wrap: normal
    }
}

@media print,screen and (max-width: 480px) {
    body {
        padding:15px
    }

    header ul {
        width: 99%
    }

    header li,header ul li + li + li {
        width: 33%
    }
}

@media print {
    body {
        padding: .4in;
        font-size: 12pt;
        color: #333
    }
}
